.container {
  display: flex !important;
  margin: 0px !important;
}

.col {
  width: 118px !important;
  height: 50px !important;
  border: 1px solid;
  font-size: 9px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  border-radius: 5px;
}
.row1 {
  margin-left: 20px !important;
  justify-content: start;
}
p {
  margin: auto !important;
  font-weight: 900;
}
.menu {
  border: 1px solid;
   height: auto;
   width: auto;
}
.container1{
    display: flex !important;
    margin: 0px !important;
    width: auto;
}